.my-recipes-container {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.my-recipes-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.my-recipes-list {
    list-style: none;
    padding: 0;
}

.my-recipes-list-item {
    margin-bottom: 10px;
}

.my-recipes-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.my-recipes-link:hover {
    background-color: #cafdff;
}
